/* Mobilsite */

.hero {
  font-size: 200%;
  margin-bottom: 0;
}

/* projekter sekunder menu */
.projekt-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.projekt-item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.projekt-item::before {
  content: "|";
  margin-right: 8px;
  color: #4f6f7a;
}

.h {
  position: relative;
  text-decoration: none;
  color: #4f6f7a;
  padding-bottom: 6px;
}

.projekt-item.active .h {
  color: #c59b5a;
}

.projekt-item.active .h::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #c59b5a;
}

/* sandkasse /virksomhed */

.underside-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.underside-link {
  position: relative;
  text-decoration: none;
  color: #4f6f7a;
}

.underside-item.active .underside-link {
  color: #c59b5a;
}

.underside-item.active .underside-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #c59b5a;
  margin-bottom: 0.5em;
}

/* general */

.indhold_overskrift {
  margin-top: 3em;
}

h2 a {
  text-decoration: none;
  color: var(--color-text);
}

.p {
  font-size: small;
}

.knap {
  background-color: var(--color-btn-bg);
  border-radius: 60px;
  margin: 1em 0.5em 2em 0;
  padding: 0.5em 1em;
  max-width: 100%;
  display: inline-block;
  font-family: var(--font-family-h);
  white-space: nowrap;
  box-shadow: -10px 6px 3px rgba(0, 0, 0, 0.615);
}

.knap a {
  text-decoration: none;
  color: var(--color-btn-text);
}

/* knap hover */
.knap:hover {
  background-color: var(--color-btn-hover);
}

.knap a:hover {
  color: var(--color-text-hover);
}

/* afsnit */

.text_container {
  margin: 2em 0;
}

.images {
  max-width: 255px;
  max-height: 200px;
  display: inline-block;
  border-radius: 35px;
}

.img_container {
  text-align: center;
  margin: 1em 0;
}

/* svg streger */
.divider {
  position: relative;
  overflow-x: hidden;
}

.svg1 {
  position: relative;
  z-index: 1;
  left: -18em;
  max-height: 70px;
  max-width: 650px;
  margin-top: 3em;
}
.svg2 {
  position: relative;
  z-index: 1;
  left: -18em;
  max-height: 40px;
  max-width: 550px;
}

.svg3 {
  position: relative;
  z-index: 1;
  right: -18em;
  max-height: 50px;
  max-width: 430px;
  margin-top: 3em;
}

.svg4 {
  position: relative;
  z-index: 1;
  left: -18em;
  max-height: 70px;
  max-width: 450px;
  margin-top: 3em;
}

@media screen and (width > 800px) {
  body {
    margin: 0em 3em;
  }
  main {
    margin: 2em 1em;
  }

  .projekt-menu {
    display: flex;
    gap: 24px;
    white-space: nowrap;
  }

  .projekt-menu a {
    font-size: large;
  }

  .projekt-item {
    position: relative;
    margin-bottom: 0;
  }

  .projekt-item::before {
    content: "";
  }

  .projekt-item:not(:last-child)::after {
    content: "|";
    position: absolute;
    right: -14px;
    top: 50%;
    transform: translateY(-50%);
    color: #4f6f7a;
  }

  .h {
    font-size: xx-large;
  }

  .p {
    font-size: x-large;
  }

  /* tekst */

  /* grid del 1  */
  .grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 5em;
  }

  .grid_tekst {
    grid-column: 1/2;
  }
  .grid_knap {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
  }

  /* knap */

  .knap {
    margin: 1em 0 2em 0;
    padding: 1em 4em;
    max-width: 25%;
    text-align: center;
    box-shadow: 10px 6px 3px rgba(0, 0, 0, 0.615);
  }

  .knap a {
    font-size: x-large;
  }

  /* bulleder ved siden af hianden */
  .img_flex {
    display: flex;
    margin-top: 2em;
    gap: 10em;
    justify-content: center;
  }

  .images {
    max-width: 442px;
    max-height: 373px;
    margin: 2em 0 2em 0;
  }

  .del4 {
    margin-left: -70px;
    margin-right: -70px;
  }

  .svg1 {
    position: relative;
    z-index: 1;
    left: -18em;
    max-height: 70px;
    max-width: 1300px;
    margin-top: 5em;
    margin-bottom: 4em;
  }
  .svg2 {
    position: relative;
    z-index: 1;
    left: -18em;
    max-height: 50px;
    max-width: 1350px;
    margin-top: 4em;
    margin-bottom: 4em;
  }

  .svg3 {
    position: relative;
    z-index: 1;
    right: -55em;
    max-height: 50px;
    max-width: 1630px;
    margin-top: 5em;
    margin-bottom: 4em;
  }

  .svg4 {
    position: relative;
    z-index: 1;
    left: -18em;
    max-height: 50px;
    max-width: 850px;
    margin-top: 4em;
  }
}
