/* Mobilsite */

.hero {
  font-size: 200%;
  margin-bottom: 0;
}

/* general */

.p {
  font-size: small;
}

/* afsnit */

.text_container {
  margin-top: 4em;
}

.images {
  max-width: 50%;
  display: inline-block;
  margin: 1em 25%;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.wrapper {
  position: relative;
}

.svg {
  transform: translate(100px, 0);
  position: absolute;
  margin-top: 3em;
  max-width: 290px;
  max-height: 445;
  z-index: 1;
}

.img_container {
  text-align: center;
  position: relative;
  z-index: 2;
  margin-top: 10em;
  margin-right: 5em;
}

#text2 {
  margin-top: 13em;
}
@media screen and (width > 800px) {
  body {
    margin: 0em 3em;
  }

  main {
    margin: 2em 1em;
  }

  /* tekst */

  .hero {
    font-size: xxx-large;
  }

  .h {
    font-size: xx-large;
  }

  .p {
    font-size: larger;
  }
  /* grid del 1  */
  .grid_2-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3 (1fr);
    column-gap: 0;
    row-gap: 0;
  }

  #text1 {
    grid-column: 1/1;
  }

  .img_container {
    grid-column: 2/2;
  }

  .text_container {
    margin: 3em 0 2em;
  }

  #text2 {
    margin-top: 0;
  }

  #text3 {
    margin: 0;
    grid-column: 1/2;
  }

  .wrapper {
    position: relative;
    overflow-x: hidden;
  }

  div .svg {
    grid-column: 2/2;
    grid-row: 2/3;
    max-height: 1200px;
    max-width: 880px;
    right: -15em;
    z-index: 1;
    position: absolute;
  }

  .img_container {
    position: relative;
    z-index: 2;
    right: -5em;
    top: 0;
    grid-column: 2/2;
    grid-row: 2/3;
  }

  .images {
    transform: translate(-150px, -450px);
    margin-bottom: 3em;
    max-width: 90%;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 30px -9px 12px rgba(0, 0, 0, 0.3);
  }
}
